body {
	/* background-color: lightblue; */
	background-image: url("va_seal.gif");
	background-repeat: no-repeat;
	background-position: right top;

}
img {
    float: right;
}
hr {color: sienna;}
p {margin-left: 20px;background-color: pink;
	text-indent: 50px;
	font-family:"Arial",Georgia,Serif;
	font-size: 1.2em;}
.try1 {	margin-left: auto;
		margin-right: auto;
		width: 70%;
		background-color: #787878;
		color: white;}

